body {
    text-align: center;
    width: 850px;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #5f9341;
}

.container {
    width: 40%;
    display: inline-block;
    padding-bottom: 20px;
}

.container2 {
    padding-bottom: 20px;
    width: 90.5%;
    display: inline-block;
}

label {
    font-size: 14px;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #5f9341;
}

button {
    background-color: #5f9341;
    width: 150px;
    color: white;
    padding: 10px 15px;
    margin: 2px;
    border: 1px solid #5f9341;
    font-weight: 900;
}

button:hover, #input-btn:hover {
    background-color: white;
    color: #5f9341;
    text-decoration: underline;
}

#all-btn, #enter-btn, #update-btn, #find-btn {
    background-color: white;
    width: 150px;
    color: #5f9341;
    padding: 10px 15px;
    margin: 2px;
    border: 1px solid #5f9341;
    font-weight: 900;
}

#input-btn {
    background-color: #5f9341;
    width: 660px;
    color: white;
    padding: 10px 15px;
    margin-bottom: 40px;
    border: 1px solid #5f9341;
    font-weight: 900;
}

select {
    width: 660px;
    color: #5f9341;
    padding: 10px 15px;
    margin-bottom: 40px;
    font-weight: 900;
    border: 1px solid #5f9341;
}

option {
    color: black;
}

h3 {
    padding: 12px 20px;
    margin: 20px 12px;
    border: 2px solid #5f9341;
    color: #5f9341;
}

h4 {
    padding: 30px 0px;
    border-top: 1px solid #5f9341;
    color: #5f9341;
    padding-bottom: 15px;
    font-weight: 900;
    text-decoration: underline;
}

/* TABLE STYLING */

#records_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#records_table td, #records_table th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
}
  
#records_table tr:nth-child(even){background-color: #f2f2f2;}
  
#records_table tr:hover {background-color: #ddd;}
  
#records_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #5f9341;
    color: white;
    text-align: center;
}